<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>AMA</h1>
<p th:text="'creator: ' + ${userhandle}" />
<p th:text="${ama}" />
<form action="#" th:action="@{/users/{userhandle}/amas/{id}}" th:object="${question}" method="post">
    <p>Your Question: <input type="text" th:field="*{description}" /></p>
   <!-- <p>Parent AMA: <input type="text" th:field="*{parent}" /></p>
   -->

    <p> <input type = "submit" value="Submit"/> <input type = "reset" value="Reset"/> </p>
</form>

<a th:href="@{/users/{userhandle}/amas/{id}/questions(userhandle=${user.handle},id=${id})}">View Questions</a>
<a th:href="@{/users/{userhandle}/amas(userhandle=${user.handle})}">View All AMAs</a>

</body>
</html>