<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${userName}"></h1>
<p th:text="'id: ' + ${ama.id}" ></p>
<p th:text="'description: ' + ${ama.description}" ></p>
<p th:text="'deadlineToVote: ' + ${ama.deadlineToVote}" ></p>
<p th:text="'listOfKeyWords: ' + ${ama.listOfKeyWords}" ></p>

<button onclick="submit()">Submit Another AMA</button>
<script>
    function submit(){
        window.history.back()
    }
</script>

</body>
</html>